body {
	background-color: #D7D8DB;
}

div#calendar {
	background-color: white;
}

nav#page-header {
	background: #E3001E;
}

div#page-header {
	text-align: left;
	margin-left: 2em;
}

div#page-header2 {
	background: #E3001E;
	border-radius: 15px;
	padding: 15px;
	height: 100px;
	width: 600px;
	margin: auto;
	margin-top: -5em;
	text-align: center;
	border-style: solid;
	border-width: medium;
}

h2 {
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

div#page-header3 {
	background: white;
	border-radius: 15px;
	padding: 15px;
	height: 500px;
	width: 600px;
	margin: auto;
	border-style: double;
	border-width: thick;
}

div#page-header4 {
	background: white;
	border-radius: 15px;
	padding: 15px;
	height: 200px;
	width: 600px;
	margin: auto;
	margin-bottom: 6em;
	border-style: double;
	border-width: thick;
}

i {
	letter-spacing: 2px;
}

div.gallery {
	margin: auto;
	margin-left: 1em;
	border: 1px;
	float: left;
	width: 180px;
}

div.gallery img {
	width: 100%;
	height: auto;
	margin-left: 1em;
}

footer {
	background: #125688;
	border-radius: ;
	padding: 15px;
	height: 60px;
	text-align: center;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

aside {
	text-align: right;
	margin-right: 6em;
}

h3 {
	font-family: 'Patrick Hand', cursive;
	font-size: 3em;
	margin-left: 0.8em;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin-top: -0.5em;
}

p {
	font-family: 'Patrick Hand', cursive;
	font-size: 1em;
}

h4 {
	font-family: 'Patrick Hand', cursive;
	font-size: 2em;
}

