form#page-header {
	background-color: white;
	padding: 40px;
	-webkit-box-shadow: 9px 15px 39px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 15px 39px -9px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 15px 39px -9px rgba(0, 0, 0, 0.75);
	margin-right: 4em;
}

ul {
	margin-top: -10em;
}

body {
	background-color: #D7D8DB;
}

nav#page-header {
	background: #E3001E;
}

div#text {
	margin-left: 1em;
}

h1 {
	margin-left: 0.5em;
	font-family: 'Russo One', sans-serif;
}

footer {
	background: #125688;
	border-radius: ;
	padding: 15px;
	height: 60px;
	text-align: center;
}

h2 {
	font-family: 'Patrick Hand', cursive;
}

h4 {
	font-family: 'Patrick Hand', cursive;
}

a#title {
	font-family: 'Patrick Hand', cursive;
	font-size: 3em;
}
